 <!-- ========== SCROLL TOP ==========-->
 <head>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
 </head>


        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">HappyInvoice</h1>
                        <h2 class="home__subtitle">Najlepsza aplikacja <br> do fakturowania.</h2>
                        <a href="#" class="button" routerLink="/new-invoice">Dodaj fakturę</a>
                    </div>

                    <img class="home__img" src="assets/images/1.jpg" alt="">
                </div>
            </section>

            <!--========== ABOUT ==========-->
            <section class="about section bd-container" id="about">
                <div class="about__container bd-grid">
                    <div class="about__data">
                        <span class="section-subtitle about__initial">O nas</span>
                         <h2 class="section-title about__initial">Nasza aplikacja <br> jest najlepsza</h2>
                         <p class="about__description">Współpracujemy z największymi firmami na świecie takimi jak Facebook, Coca-cola, Google.</p>
                         <a href="#" class="button" routerLink="/clients">Zobacz listę klientów</a>
                    </div>
                    <img src="assets/images/2.jpg" alt="" class="about__img">
                </div>
            </section>


            <!--========== MENU ==========-->
            <section class="menu section bd-container" id="menu">
                <span class="section-subtitle">Cennik</span>
                <h2 class="section-title">Oto nasza oferta</h2>

                <div class="menu__container bd-grid">
                    <div class="menu__content">
                        <h3 class="menu__name">1 Miesiąc</h3>
                        <span class="menu__detail">Trwania umowy</span>
                        <span class="menu__preci">$39,99 / 1 msc</span>
                        <a href="#" class="button menu__button">
                            <i class='bx bx-cart-alt'></i>
                        </a>
                    </div>
                    <div class="menu__content">
                        <h3 class="menu__name">6 Miesięcy</h3>
                        <span class="menu__detail">Trwania umowy</span>
                        <span class="menu__preci">$24,99 / 1 msc</span>
                        <a href="#" class="button menu__button">
                            <i class='bx bx-cart-alt'></i>
                        </a>
                    </div>
                    <div class="menu__content">
                        <h3 class="menu__name">12 Miesięcy</h3>
                        <span class="menu__detail">Trwania umowy</span>
                        <span class="menu__preci">$19,99 zł / 1 msc</span>
                        <a href="#" class="button menu__button">
                            <i class='bx bx-cart-alt'></i>
                        </a>
                    </div>
                </div>
            </section>

            <!--===== APP =======-->
            <section class="app section bd-container">
                <div class="app__container bd-grid">
                    <div class="app__data">
                        <span class="section-subtitle app__initial">Aplikacja</span>
                        <h2 class="section-title app__initial">HappyInvoice jest dostępna</h2>
                        <p class="app__description">
                            Znajdz naszą aplikację w Apple Store oraz Google Play i korzystaj z niej za pomocą urządzeń mobilnych.
                        </p>
                        <div class="app__Stores">
                            <a href="#"><img src="assets/images/app1.png" alt="" class="app__store"></a>
                            <a href="#"><img src="assets/images/app2.png" alt="" class="app__store"></a>
                        </div>
                    </div>

                    <img src="assets/images/phone.jpg" alt="" class="app__img">
                </div>
            </section>

            <!--========== CONTACT US ==========-->
            <section class="contact section bd-container" id="contact">
                <div class="contact__container bd-grid">
                    <div class="contact__data">
                        <span class="section-subtitle contact__initial">Współpraca </span>
                        <h2 class="section-title contact__initial">Skontaktuj się z nami</h2>
                        <p class="contact__description">Jeśli chcesz aby twoja firma współpracowała z nami i miała dostęp do najlepszej aplikacji do fakturowania czyli HappyInvoice, skontaktuj się z nami.</p>
                    </div>
                    <div class="contact__button">
                        <a href="#" class="button">Skontaktuj się z nami</a>
                    </div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">HappyInvoice</a>
                    <span class="footer__description">
                      Invoicing program</span>

                    <div>
                        <a href="#" class="footer__social"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="footer__social"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="footer__social"><i class="bx bxl-twitter"></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Informacje</h3>
                    <ul>
                        <li><a href="#menu" class="footer__link">Cennik</a></li>
                        <li><a href="#menu" class="footer__link">Abonament</a></li>
                        <li><a href="#" class="footer__link">Możliwości</a></li>
                        <li><a href="#" class="footer__link">Płatność</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Kontakt</h3>
                    <ul>
                        <li>HappyInvoice</li>
                        <li>Poland, Kraków</li>
                        <li>+ 48 123844112</li>
                        <li>happyInvoice@gmail.com</li>
                    </ul>
                </div>
            </div>

        </footer>


