.invoice {
    margin-bottom: 30px;
}

table {
    margin-bottom: 8px;
}

div.invoice {
    font-size: 15px;
    p {
        margin-left: 4px;
    }
}

td {
    padding-right: 10px;
    text-align: center;
}

button {
    margin-right: 5px;
}